ul {
    display: flex;
}

li {
    list-style: none;
    margin: 3px;
    padding: 3px;
}

.output{
   
    width: 72%;
    height: 50px;
    margin-top: 20px;
    margin-left: 30px;
    background-color: whitesmoke;
    color: black;     

}
p{
    margin: 0px;
    text-align: end;
}
.main{
    border: 1px solid black;
    margin: 100px 667px 100px 581px;
    background-color: whitesmoke;
    color: white;
    border-radius: 10px;
    width: 272px;
    background-color: rgb(221, 170, 238, 0.956);
   
}
button
{
    border-radius: 5px;
    font-size: 20px;
    padding: 3px 9px 3px 9px;
    box-shadow: 3px 4px 2px gray;
    border: none;
}
button:hover
{
    background-color: skyblue;
    color: black;
}
.top{
    font-size: 20px;
}
.down{
    font-size: 23px;
}
select{
    padding-top: 5px;
    margin-top: 5px;
}